---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.tsx';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

import "../styles/global.css"

type Props = CollectionEntry<'notes'>['data'];

const { title, description, pubDate, updatedDate, heroImage, readingTime } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article class="notes">
				<div class="prose">
					<div class="date opacity-40">
						<FormattedDate date={pubDate} />
						{
						updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
						)
						}
						| 
						<span>{readingTime} min to read</span>
					</div>
						<h1>{title}</h1>
						<div class="title">
						<p>{description}</p>
						<div class="hero-image">
							{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
						</div>
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
